a {
    text-decoration: none;
    color: #000000;
}
.input--lg {
    width: 100%;
}
.button--mtop {
    margin-top: 1.5em;
}

.title{
    color: var(--primary-color);
    font-size: 2.5em;
}
.title--align-center{
    text-align: center;
}