@import url('dropdown.css');
@import url('utils.css');
@import url('common.css');

body {
    font-size: 10px;
    font-family: "Roboto Medium", sans-serif;
    background-color: #ececec;
}

:root {
    --primary-color: #0077c0;
    --secondary-color: #39d5ff;
    /*39d5ff, 22A7F0*/
}

.header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    /*background-color: var(--primary-color);*/
    /*margin-bottom: 10px;*/
    /*position: fixed;*/
    /*width: 100%;*/
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-header {
    display: flex;
}

.menu-header--item {
    padding: 1em;
    font-size: 1.5em;
}

.menu-header--link {
    color: var(--primary-color);
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35em;
    opacity: 0.8;
    background: url('../img/guitar_web.jpg');
    background-position: center;
    background-size: cover;
    background-origin: border-box;
    margin-bottom: 20px;
}

.filters--title {
    font-size: 2.5em;
    color: white;
    text-align: center;
}

.filters--hero {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    width: 70%;
    min-height: 25em;
    flex-wrap: wrap;
}

.filters--form {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 30%;
    justify-content: center;
    align-items: center;
}

.filter--row {
    margin: 1em;
}

.filters--form__fontsize {
    font-size: 1.5em;
}

.filters--form__color {
    color: #fff;
}

.show-btn__visibility {
    display: none;
}

.show-btn__size {
    font-size: 3em;
}

/*home categories*/
.home-category {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}

.home-category__item {
    flex: 1 0 20%;
}

.home-category__img {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.home-category__title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.important-bands {
    display: flex;
    flex-wrap: wrap;
}

.important-bands__band {
    flex: 1 0 20%;
    min-height: 10em;
}

.important-bands__info {
    padding: 1em;
}
.important-bands__footer {
    display: flex;
    justify-content: space-between;
}
.thumb-band__button {
    width: 100%;
    margin:0 auto;
}
.important-bands__price {
    font-size: 1.2em;
}
/* GENERAL CMP */
.thumb:hover {
    box-shadow: 0.2em 0 2em #424242;
    cursor: pointer;
}

.thumb {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 0.1em #ececec;
    border-radius: 0.5em;
    margin: 1em;
}

.thumb__title {
    font-size: 2em;
}

.thumb__img {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

.thumb__info {

    padding: 1.5em;
}

.thumb__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.tag {
    display: inline;
    background-color: var(--secondary-color);
    font-size: 1.2em;
    padding: 0.2em;
    color: white;
    margin-right:0.5em;
}

/*Hide checkbox*/
input[type=checkbox] {
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .menu-header {
    display: flex;
}

/*RESPONSIVE SECTION*/
@media screen and (min-width: 1376px) {

    .filters--hero {
        min-height: 15em;
    }
}

@media screen and (max-width: 700px) {
    .nav {
        flex-direction: column;
        align-items: end;
        width: 80%;
    }

    .filters--hero {
        flex-direction: row;
    }

    .filters--form {
        justify-content: space-between;
    }

    .filter--row {
        margin: 0.5em;
    }

    .show-btn__visibility {
        display: inline;
    }

    .menu-header {
        flex-direction: column;
        display: none;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .filter--row {
        width: 100%;
    }
}