{% extends 'musicos/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block container %}
    <section class="filters">
        <div class="filters--hero">
            <h1 class="filters--title">Encuentra el artista ideal</h1>
            <form class="pure-form pure-form-stacked filters--form filters--form__color filters--form__fontsize">
                {% csrf_token %}
                <div class="filter--row">
                    <label for="name">Nombre</label>
                    <input id="name" class="input" type="text" name="nombre"
                           placeholder="Nombre músico">
                </div>
                <div class="filter--row">
                    <label for="tipo-musico">Tipo Musico</label>
                    <select class="input--lg" name="tipo-musico">
                        <option value="-1">--seleccione--</option>
                        {% for tipos_musico in tipos_musicos %}
                            <option value="{{ tipos_musico.pk }}">{{ tipos_musico }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter--row">
                    <label for="servicio">Evento donde los necesita </label>
                    <select name="servicio" id="servicio" class="input--lg">
                        <option value="-1">--seleccione--</option>
                        {% for servicio in servicios %}
                            <option value="{{ servicio.pk }}">{{ servicio }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter--row">
                    <label for="tipo_cobro">Tipo Cobro </label>
                    <select id="tipo_cobro" name="tipo_cobro" class="input--lg">
                        <option value="-1">--seleccione--</option>
                        {% for cobro in tipo_cobro %}
                            <option value="{{ cobro.pk }}">{{ cobro }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter--row">
                    <label>Precio Mínimo </label>
                    <input type="number" class="input" name="precio-min"
                           placeholder="precio mínimo">
                </div>
                <div class="filter--row">

                    <label>Precio Máximo </label>
                    <input type="number" class="input" name="precio-max"
                           placeholder="precio máximo">
                </div>
                <div class="filter--row">
                    <button class="pure-button pure-button-primary button--mtop">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                    </button>
                </div>
            </form>
            {#        <div class="filters__textDescription">#}
            {#            <p class="text-blanco">Contratar Músicos es una plataforma destinada a las personas que necesitan encontrar#}
            {#                artistas.#}
            {#                Proveemos#}
            {#                una amplia descripción para#}
            {#                una mejor toma de desiciones sobre cual se ajusta a las necesidades del usuario.<br> <b>Es#}
            {#                    gratis.</b></p>#}
            {#            <p class="text-blanco">De igual forma pretendemos crear un espacio donde los artistas de todos los#}
            {#                géneros puedan#}
            {#                dar a conocer su talento y sea fácil contactarlos.</p>#}
            {##}
            {#        </div>#}
        </div>
    </section>
    <h1 class="title title--align-center">Principales categorías</h1>
    <section class="home-category">
        <a href="" class="thumb home-category__item">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="SALSA">
            <p class="home-category__title">Salsa</p>
        </a>
        <a href="" class="thumb home-category__item">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="DJ">
            <p class="home-category__title">Dj</p>
        </a>
        <a href="" class="thumb home-category__item">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="Banda">
            <p class="home-category__title">Banda</p>
        </a>
        <a href="" class="thumb home-category__item">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="Mariachis">
            <p class="home-category__title">Mariachis</p>
        </a>
    </section>
    <h1 class="title title--align-center">Artistas destacados</h1>

    <section class="important-bands">
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
    </section>
    <section class="important-bands">
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/salsa.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
        <aside class="thumb important-bands__band">
            <img class="thumb__img" src="{% static 'musicos/img/music_genres/dj.jpg' %}" alt="DJ">
            <div class="thumb__info">
                <p class="thumb__title">Marichis del pueblo</p>
                <div class="thumb__tags">
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                    <p class="tag">Mariachis</p>
                </div>
                <footer class="important-bands__footer">
                    <a href="#" class="pure-button pure-button-primary">Ver perfil</a>
                    <div class="important-bands__price">
                        $200.00 - $400.00/hr
                    </div>
                </footer>

            </div>
        </aside>
    </section>

{% endblock %}