{% load thumbnail %}
<div class="col-sm-3">
    <div class="item-musico">

        <a href="{% url 'musicos:perfil_musico' slug_musico=musico.slug %}">
            <div style="background: url('{{ musico.imagen_principal|thumbnail_url:'thumb_musico_index' }}')"
                 class="img-thumbnail-video"></div>
        </a>
        <div class="container-info pd15">
            <a class="bold" href="{% url 'musicos:perfil_musico' slug_musico=musico.slug %}">{{ musico.nombre }}</a>
            <p class="bold text-naranja">{{ musico.tipo_musico }}</p>

            <p class="fs12">{{ musico.descripcion|truncatechars:'65' }}</p>
            <div class="container-social-icons">
                <div class="container-demo">
                    {% if musico.demo.video != None %}
                        <a href="{{ musico.demo.video }}" target="_blank">Ver demo</a>
                    {% endif %}
                    {% if musico.demo.audio != None %}
                        <audio controls style="width: 100%">
                            <source src="{{ musico.demo.audio.url }}" type="audio/mpeg">
                            Su navegador no soporta los audios. Por favor cambie a Firefox o Chrome
                        </audio>
                    {% endif %}
                </div>
                <div class="btn bg-naranja btn-block text-blanco"
                     data-toggle="modal"
                     data-target="#datos-contacto-modal{{ musico.pk }}">
                    Ver info contacto
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'musicos/datos_contacto_musico.html' %}
