{% extends 'musicos/base.html' %}
{% load staticfiles %}
{% block javascripts %}
    <link rel="stylesheet" href="{% static 'musicos/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'musicos/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
    <script type="application/javascript" src="{% static 'musicos/js/perfil_musico.js' %}"></script>
    <script type="application/javascript" src="{% static 'musicos/js/previews_img.js' %}"></script>
    <script type="application/javascript" src="{% static 'musicos/vendor/owl.carousel/owl.carousel.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="container mt10">
        <div class="row">
            <div class="col-sm-6">
                <div id="thumbnail">
                    <div class="owl-carousel owl-theme">
                        {% for imagen in musico.imagenes_galeria.all %}
                            <div class="thumbnail">
                                <img alt=""
                                     width="450px" height="450px"
                                     class="img-responsive img-rounded"
                                     src="{{ imagen.image.url }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h1 class="text-naranja">{{ musico }}</h1>
                <p>{{ musico.descripcion }}</p>
                <hr>
                {% if musico.demo.audio != None %}
                    <audio controls>
                        <source src="{{ musico.demo.audio.url }}" type="audio/mpeg">
                        Su navegador no soporta los audios. Por favor cambie a Firefox o Chrome
                    </audio>
                {% endif %}
                {% if musico.demo.video != None %}
                    <br>
                    <div data-toggle="modal"
                         data-target="#modal-video"
                         class="btn btn-xs btn-danger mt10 mb15"
                    > <i class="fa fa-youtube-play"></i>Ver video demo
                    </div>
                    <div class="modal fade" id="modal-video" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Video demo de {{ musico }}</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="{{ musico.demo.video }}"
                                            allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endif %}
                <br>
                <a href="#" class="btn btn-block bg-naranja text-blanco"
                   data-toggle="modal"
                   data-target="#datos-contacto-modal{{ musico.pk }}"
                   id="btn-datos-contacto"
                   data-musico="{{ musico.slug }}">Ver
                    datos
                    de contacto</a>
                {% include 'musicos/datos_contacto_musico.html' %}
            </div>
        </div>
        <div class="row">
            <hr>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#info"
                       aria-controls="home"
                       role="tab"
                       data-toggle="tab">
                        <i class="fa fa-list mr5"></i>Información
                        detallada</a>
                </li>
                <li role="presentation">
                    <a href="#similares" aria-controls="settings"
                       role="tab" class="text-naranja"
                       data-toggle="tab">Similares</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="info">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <tr>
                                    <td><b>Valoración:</b></td>
                                    <td>
                                        {% if musico.valoracion >= 0 and musico.valoracion <= 1 %}
                                            <i class="fa fa-star mr5"></i>
                                        {% endif %}
                                        {% if musico.valoracion > 1 and musico.valoracion <= 2 %}
                                            <i class="fa fa-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                        {% endif %}
                                        {% if musico.valoracion > 2 and musico.valoracion <= 3 %}
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                        {% endif %}
                                        {% if musico.valoracion > 3 and musico.valoracion <= 4 %}
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                        {% endif %}
                                        {% if musico.valoracion > 4 and musico.valoracion <= 5 %}
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                            <i class="fi-star mr5"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Repertorio:</b></td>
                                    <td>
                                        {% for estilo in musico.estiloMusica.all %}
                                            <span>
                                <i class="fa fa-check-square mr5"></i>
                                {{ estilo }}
                            </span>
                                        {% endfor %}

                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Tipo:</b></td>
                                    <td>
                                <span>
                                <i class="fi-check mr5"></i>
                                {{ musico.tipo_musico }}
                            </span>

                                    </td>
                                </tr>
                                {% if musico.precio != None %}
                                    <tr>
                                        <td><b>Precio aprox:</b></td>
                                        <td>
                                <span>
                                <p>Precio min: ${{ musico.precio.valor_minimo }} / {{ musico.precio.tipo_cobro }}</p>
                                <p>Precio max: ${{ musico.precio.valor_maximo }} / {{ musico.precio.tipo_cobro }}</p>
                            </span>

                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td><b>Eventos que atienden:</b></td>
                                    <td>
                                        {% for servicio in musico.serviciosMusica.all %}
                                            <span>
                                <i class="fa fa-check-square mr5"></i>
                                {{ servicio }}
                            </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="col-sm-12">
                            <h4>Información relevante</h4>
                            <table class="table table-striped">
                                {% for info in musico.info_adicional.all %}
                                    <tr>
                                        <td>
                                            <i class="fa fa-check mr5"></i><b>{{ info.pregunta }}</b>
                                        </td>
                                        <td>{{ info.respuesta }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="similares">
                    musicos parecidos
                </div>

            </div>

        </div>
    </div>
{% endblock %}