{% load staticfiles %}
{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <script src="{% static 'main/vendor/bootstrap/js/bootstrap.js' %}"></script>

{% endblock %}
{% block container %}
    <div class="login-container">
        <h1 class="text-center">Iniciar sesi&oacute;n</h1>
        {% if form.errors %}
            {#                <div class="alert alert-danger"><p>{{ form.non_field_errors }}</p></div>#}
            <div class="alert alert-danger"><p>Revise sus datos de acceso !</p></div>
        {% endif %}
        <form id="form-login" method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}

            <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
        </form>

    </div>


{% endblock %}